    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    header {
        background-color: #333;
        color: white;
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }
    
    header h1 {
        margin: auto;
    }
    
    aside {
        background-color: #444;
        color: red;
        padding: 10px;
        width: 15%;
        float: left;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0 15px 0 0;
        box-shadow: #777 0 5px 10px;
        border-radius: 0 10px 10px 0;
    }
    
    aside.collapsed {
        width: 0;
        padding: 0;
    }
    
    aside img {
        width: 100%;
        border-radius: 5%;
    }
    
    aside h2,
    aside h3 {
        text-align: center;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav ul li {
        margin: 1rem 0;
    }
    
    nav ul li p {
        margin: 1rem;
        display: inline-block;
    }
    
    nav ul li i {
        margin-right: 0.5rem;
    }
    
    main {
        padding: 1rem;
        box-sizing: border-box;
        transition: margin-left 0.3s ease;
        justify-content: center;
        background-color: #ddd;
        box-shadow: 0 5px 10px #777;
        padding: 5px;
        border-radius: 5px;
    }
    
    section {
        padding: 0 3rem;
        border-radius: 10px;
    }
    
    .container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        background-color: #ddd;
        box-shadow: 0 5px 10px #777;
        border-radius: 10px;
    }
    
    .figcaptions {
        background-color: white;
        text-align: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid #ddd;
        flex: 1 1 calc(33.333% - 2rem);
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: #777 0 5px 10px;
    }
    
    .figcaptions img {
        width: 90%;
        height: auto;
        border-radius: 15px;
        padding: 5px;
    }
    
    .figcaptions caption {
        display: block;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: #555;
        justify-content: center;
        justify-items: center;
    }
    
    button {
        background-color: #555;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        margin: 0.2rem;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #777;
    }
    
    @media (max-width: 768px) {
        .figcaptions {
            flex: 1 1 calc(50% - 2rem);
        }
    }
    
    @media (max-width: 480px) {
        .figcaptions {
            flex: 1 1 100%;
        }
    }